$header-height: 65px;
$positive-color: #46AB27;
$neutral-color: #B7B6B6;
$negative-color: #ff586f;
$metadata-background: #F9F9F9;
$metadata-width: 250px;

$zindex-header: 200;
$zindex-menu: 200;

$base-padding: 15px;
